<template>
  <div class="ff-test">

    <v-toolbar flat>
      <span>FireFlow</span>
      <v-spacer></v-spacer>
      <span>1 команда</span>
      <span>24 участника</span>
    </v-toolbar>

    <v-layout>
      <v-flex md3 v-for="(action, index) in actions" :key="`action-${index}`">
        <v-card>
          <v-card-title>
            {{ action.title }}
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>

  </div>
</template>

<script>
export default {
  data () {
    return {
      actions: {
        team: {
          title: 'Create Team'
        },
        simulation: {
          title: 'Create Simulation'
        },
        setSimulation: {
          title: 'Apply Simulation'
        },
        setTask: {
          title: 'Apply Task'
        }
      }
    }
  },
  created () {

  }
}
</script>

<style lang="scss" scoped>
@import './style.scss';
</style>
