<template>
  <v-alert
    :value="true"
    class="ff-alert"
    error
    dismissible
    transition="scale-transition"
    @input="onClose"
  >
    {{ text }}
  </v-alert>
</template>

<script>
export default {
  name: 'ff-alert',
  props: {
    text: {
      type: String,
      default: ''
    }
  },
  methods: {
    onClose () {
      this.$emit('dismissed')
    }
  }
}
</script>

<style scoped>
.ff-alert {
  width: 100%;
  word-wrap: wrap;
}
</style>
