<template>
  <div>
    <v-navigation-drawer v-model="drawer" temporary clipped width="220" app>
      <v-toolbar app dense>
        <v-toolbar-side-icon @click.native="drawer = !drawer"></v-toolbar-side-icon>
        <div class="ff-toolbar-title" @click="$router.push('/app')">
          <ff-logo></ff-logo>
        </div>
      </v-toolbar>
      <v-list dense style="padding-top: 48px;">
        <template v-for="(item, i) in items">

          <v-layout v-if="item.heading" :key="i" row align-center>
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-right">
              <v-btn small flat>edit</v-btn>
            </v-flex>
          </v-layout>

          <v-divider v-else-if="item.divider" :key="i" dark class="my-3"></v-divider>

          <v-list-tile v-else :key="i" :to="item.to">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                {{ item.key ? $t(item.key) : item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

        </template>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar app dense clipped-left dark class="primary">
      <v-toolbar-side-icon @click.native="drawer = !drawer"></v-toolbar-side-icon>
      <div class="ff-toolbar-title" @click="$router.push('/app')">
        <ff-logo white></ff-logo>
      </div>
      <v-spacer></v-spacer>
      <v-btn flat @click="$locale = $locale === 'en' ? 'ru' : 'en'">{{ $locale }}</v-btn>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  name: 'ff-application-navigation',
  data: () => ({
    drawer: null,
    items: []
  }),
  mounted () {
    this.items = [
      { icon: 'home', text: 'home', to: '/' },
      { icon: 'lightbulb_outline', text: 'Production', key: 'Production', to: '/app/production' }
      // { icon: 'touch_app', text: 'Reminders', key: 'Reminders' },
      // { divider: true },
      // { heading: 'Labels' },
      // { icon: 'add', text: 'Create new label' },
      // { divider: true },
      // { icon: 'settings', text: 'Settings' }
    ]
  }
}
</script>

<style scoped>
.ff-toolbar-title {
  height: 100%;
  padding: 10px 0px;
  cursor: pointer;
}
</style>
