<template>
  <div style="z-index: 10000; position: fixed; top: 0px; left: 0px; width: 100%; margin-top: -14px; height: 5px;">
    <v-progress-linear color="primary" :indeterminate="true" v-if="loading" height="3"></v-progress-linear>
  </div>
</template>

<script>
export default {
  name: 'ff-loader',
  computed: {
    loading () {
      return this.$store.auth.loading
    }
  }
}
</script>
