<template>
  <div>
    <v-btn flat :dark="$route.meta.dark" to="/signin" v-if="!loggedin">
      Sign In
    </v-btn>

    <v-menu v-model="profile" offset-x v-else>
      <v-avatar color="primary" slot="activator">
        <span class="white--text headline">V</span>
      </v-avatar>

      <v-card>
        <v-list>
          <v-list-tile avatar :to="'/profile'">
            <v-list-tile-avatar>
              <v-icon class="primary white--text">V</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{ $store.auth.user.displayName }}</v-list-tile-title>
              <v-list-tile-sub-title>Founder of FireFlow</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click="$store.auth.signOut()">Sign Out</v-btn>
        </v-card-actions>
      </v-card>
    </v-menu>
  </div>
</template>

<script>
export default {
  name: 'ff-profile-menu',
  data () {
    return {
      profile: false
    }
  },
  computed: {
    loggedin () {
      return !!this.$store.auth.user
    }
  }
}
</script>
