<template>
  <div>
    <span
      v-if="label"
      style="display: inline-block; width: 50px;">{{ label }}: </span>
    <div style="display: inline-block; width: 100px; height: 9px; background: lightgray;">
      <div :style="`width: ${progress}%; height: 9px; background: tomato;`"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ff-progress',
  props: {
    label: {
      type: String,
      default: 'Label'
    },
    value: {
      type: Number,
      default: 10
    },
    max: {
      type: Number,
      default: 10
    }
  },
  computed: {
    progress () {
      const p = Math.round((this.value || 0) / (this.max || 50) * 100)
      return p > 100 ? 100 : p
    }
  }
}
</script>
