<template>
  <div style="position: fixed; right: 10px; bottom: 10px;">
    <div
      v-for="(item, index) in items"
      :key="index"
      class="ff-snack">
      {{ item }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'ff-snackbar',
  filters: {
    reverse (value) {
      return value.slice().reverse()
    }
  },
  props: ['items']
}
</script>

<style scoped>
.ff-snack {
  background: #2c2c2c;
  padding: 5px;
  margin: 5px;
  color: white;
}
</style>
