<template>
  <v-layout row wrap>

    <v-flex md4 v-for="({ name, type }, index) in materials.state" :key="`material${index}`">
      <div :class="`ff-material-card ff-${$store.ff.theme}`">
        <h3>{{ name }}</h3>
        <div class="ff-material-card-text">
          Type - {{ type }}
        </div>
      </div>
    </v-flex>

    <v-flex sm12 md12>
      <div :class="`ff-material-card ff-${$store.ff.theme}`">
        <span>
          Materials {{ warehouseMaterials.total }} / {{ warehouseMaterials.capacity }}
        </span>
        <div class="ff-material-card-text">
           <v-list>
            <v-list-tile v-for="(material, index) in warehouseMaterials.materials" :key="`stock${index}`">
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ material.name }} total {{ material.total }}
                </v-list-tile-title>
                <v-list-tile-sub-title>
                  <span v-for="({ id, name }, index ) in suppliers.state" :key="`mat${index}`">
                    {{ name }}: {{
                      material.source
                        .filter(item => item.id === id)
                        .map(item => item.quantity)
                    }};
                  </span>
                </v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action-text>
                {{ suppliers[material.sid].name }}&nbsp;
              </v-list-tile-action-text>
              <v-list-tile-action>
                <v-btn icon small @click="material.sell(10)">
                  <v-icon>
                    remove
                  </v-icon>
                </v-btn>
                <v-btn icon small @click="suppliers[material.sid].buy(material.id, 10)">
                  <v-icon>
                    add
                  </v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </div>
      </div>
    </v-flex>

    <v-flex sm12 md12 v-for="(supplier, index) in suppliers.state" :key="`supplier${index}`">
      <div :class="`ff-material-card ff-${$store.ff.theme}`">
        <span>
          {{ supplier.name }}
        </span>
        <div class="ff-material-card-text">
          <v-list>
            <v-list-tile v-for="{ id, quality, price, name } in supplier.materials" :key="id">
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ name }}
                </v-list-tile-title>
                <v-list-tile-sub-title>
                  Quality {{ quality }} | Price - {{ price }}
                </v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn icon small @click="supplier.buy(id, 10)">
                  <v-icon>
                    add
                  </v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </div>
      </div>
    </v-flex>

  </v-layout>
</template>

<script>

export default {
  computed: {
    materials () { return this.$store.materials },
    suppliers () { return this.$store.suppliers },
    warehouseMaterials () { return this.$store.warehouseMaterials }
  }
}
</script>

<style scopped>
@import url('./warehouseMaterials.scss');
</style>
