.ff-material-card {
  position: relative;
  padding: 5px;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
}

.ff-material-card-text {
  margin-top: 12px;
}
