<template>
  <div class="ff-admin-post">

    <div class="ff-admin-post-header" v-if="post">
      <v-btn @click="$router.go(-1)" icon dark class="dark">
        <v-icon>chevron_left</v-icon>
      </v-btn>
      <span>
        <div class="ff-admin-post-header-item">
          <span>ID</span>
          <div>{{ $route.params.id }}</div>
        </div>

        <div class="ff-admin-post-header-item">
          <span>Created</span>
          <div>{{ new Date(post.created.seconds * 1000).toLocaleString('ru-RU') }}</div>
        </div>

        <div class="ff-admin-post-header-item">
          <span>State</span>
          <div>{{ post.state }}</div>
        </div>

        <div class="ff-admin-post-header-item" v-if="post.state === 'published'">
          <span>Published</span>
          <div>{{ new Date(post.published.seconds * 1000).toLocaleString('ru-RU') }}</div>
        </div>

        <div class="ff-admin-post-header-item">
          <span>Updated</span>
          <div>{{ new Date(post.updated.seconds * 1000).toLocaleString('ru-RU') }}</div>
        </div>

        <div class="ff-admin-post-header-item">
          <span>Author</span>
          <div>{{ post.author }}</div>
        </div>
      </span>

      <v-spacer></v-spacer>

      <v-btn @click="savePost(post)" icon dark class="dark">
        <v-icon v-if="!saving">save</v-icon>
        <v-progress-circular
          v-else
          indeterminate
        ></v-progress-circular>
      </v-btn>

      <v-btn @click="publishPost(post)" icon dark class="dark" v-if="post.state === 'draft'">
        <v-icon>publish</v-icon>
      </v-btn>

      <v-btn @click="unPublishPost(post)" icon dark class="dark" v-if="post.state === 'published'">
        <v-icon>block</v-icon>
      </v-btn>

      <v-btn :to="`/blog/${post.id}`" icon dark class="dark">
        <v-icon>link</v-icon>
      </v-btn>

      <v-btn @click="deletePost(post.id)" icon dark class="dark">
        <v-icon>delete_forever</v-icon>
      </v-btn>
    </div>

    <div class="ff-admin-post-card" v-if="post">

      <v-text-field
        v-model="post.title"
        label="Post Title"
        required
        box
        hint="This Post's Title"
      ></v-text-field>

      <v-textarea
        v-model="post.lead"
        label="Post Lead"
        rows=2
        required
        auto-grow
        box
        hint="This Post's Lead Text"
      ></v-textarea>

      <v-combobox
        v-model="post.tags"
        :items="tags"
        label="Tags"
        chips
        clearable
        multiple
        box
        hint="Choose what TAGs are relevant to this Post"
      >
        <template slot="selection" slot-scope="data">
          <v-chip
            :selected="false"
            close
            @input="removeTag(data.item)"
          >
            <strong>{{ data.item }}</strong>
          </v-chip>
        </template>
      </v-combobox>

      <div ref="editor"></div>
    </div>
  </div>
</template>

<script>
import post from './script.js'
export default post
</script>

<style lang="scss" scoped>
@import './quill.snow.css';
@import 'style.scss';
</style>
