:root { --offset: 200px; }
@media (max-width: 1150px) { :root { --offset: 150px; } }
@media (max-width: 900px) { :root { --offset: 100px; } }
@media (max-width: 700px) { :root { --offset: 16px; } }

.ff-admin-post {
  text-align: left;
  padding: 16px;
}

.ff-admin-post-header {
  display: flex;
}

.ff-admin-post-header > span {
  font-size: 1.1rem;
  display: flex;
}

.ff-admin-post-header-item > span {
  display: block;
  color: gray;
  font-size: 12px;
}

.ff-admin-post-header-item {
  margin: 3px 20px;
}

.ff-admin-post-header-item > span {
  display: block;
  color: darkgray;
}

.ff-admin-post-card {
  margin: 10px auto;
  padding: 20px;
  margin: 16px var(--offset);

  animation: show 100ms ease-in;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}