<template>
  <div class="ff-blog-wrapper">

    <div class="ff-blog-heading">
      <div class="ff-blog-heading-img">
        Item 2
      </div>
    </div>

    <div class="ff-h1">Главные новости</div>

    <div class="ff-features">
      <div>Картинка</div>
      <div>Картинка</div>
      <div>Картинка</div>
    </div>

    <div class="ff-blog-filters">
      <div>Filter 1</div>
      <div>Filter 2</div>
      <div>Filter 3</div>
      <div>Filter 4</div>
      <div>Filter 5</div>
    </div>

    <div class="ff-posts">
      <div class="ff-blog-post-preview" v-for="(post, index) in posts" :key="`post-${post.id}-${index}`">
        <div class="ff-blog-post-image"></div>
        <div class="ff-blog-post-text">
          <h3><router-link :to="`/blog/${post.id}`">{{ post.title }}</router-link></h3>
          <p>
            {{ post.lead }}
          </p>
        </div>
      </div>
    </div>

    <div class="ff-col-4 ff-footer">
      <div>Comments</div>
      <div>Registration</div>
      <div>Comments</div>
      <div>
        <ff-logo dark></ff-logo>
      </div>
    </div>

  </div>
</template>

<script>
import { firestore } from '@/main'
const blog = firestore.collection('blog')
const posts = blog
  .where('state', '==', 'published')
  .orderBy('published', 'desc')

export default {
  data () {
    return {
      posts: []
    }
  },
  mounted () {
    posts.get().then(docs => {
      docs.forEach((doc, index) => {
        this.posts.push({ id: doc.id, ...doc.data() })
      })
    })
  }
}
</script>

<style lang="scss" scoped>
@import './style.scss';
</style>
