:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --offset: 200px;
}

.ff-blog-wrapper {
  margin-top: -64px;
}

.ff-blog-heading {
  display: grid;
  grid-template-columns: 1fr;
}

.ff-blog-heading-img {
  padding-top: 128px;

  background: #3d3638;
  color: white;

  height: 300px;
}

.ff-h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7rem;

  padding-top: 15px;
  margin-bottom: 20px;
}

.ff-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 20px;

  padding-left: var(--offset);
  padding-right: var(--offset);
}

.ff-features > div {
  background: lightgray;
  height: 180px;

  padding-top: 15px;
  margin-bottom: 40px;
}

.ff-blog-filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  padding: 20px;

  font-size: 1.3rem;
  color: white;
  background: #3d3638;
}

.ff-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding-left: var(--offset);
  padding-right: var(--offset);
}

.ff-blog-post-preview {
  background: lightgray;

  display: grid;
  grid-template-columns: 250px 1fr;

  animation: show 150ms ease-in;

  margin-top: 20px;
  margin-left: var(--offset);
  margin-right: var(--offset);

  overflow: hidden;
}

.ff-blog-post-image {
  background: gray;
  margin: 20px;
}

.ff-blog-post-text {
  text-align: left;
  margin: 40px;
}

.ff-footer {
  margin-top: 40px;
  padding-bottom: 40px;
}

.ff-comments {
  height: 150px;

  background: gray;
}

.ff-registration {
  height: 150px;

  background: lightgray;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}