<template>
  <v-layout row wrap>
    <v-flex md4 v-for="(workTeam, index) in workTeams.state" :key="index">
      <v-card>
        <v-card-title>
          {{ workTeam.name }}
        </v-card-title>
        <v-card-text>
          Efficiency line 1 - {{ workTeam.efficiency.line1 }}<br>
          Efficiency line 2 - {{ workTeam.efficiency.line2 }}<br>
          Efficiency line 3 - {{ workTeam.efficiency.line3 }}<br><br>
        </v-card-text>
        <v-card-text>
          Shifts per period - {{ workTeam.shiftsPerPeriod }}<br>
          Hours per shift - {{ workTeam.hoursPerShift }}<br>
          Cost per shift - {{ workTeam.costPerShift}}<br>
          Overtime capacity - {{ workTeam.overtimeCapacity}}<br>
          Cost per hour overtime - {{ workTeam.costPerHourOvertime}}
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data () {
    return {
      workTeams: this.$store.workTeams
    }
  }
}
</script>
