<template>
  <div class="ff-test">

    <v-toolbar flat>
      <span>Users Management</span>
      <v-spacer/>
      <v-btn @click="addUser($store.auth.user.uid)">Add User</v-btn>
    </v-toolbar>

    <div>
      <ul>
        <li v-for="(user, index) in users" :key="`user-${index}`">
          {{ user.ref.id }}, {{ user.email }}, {{ user.name }}, {{ user.role }} @{{ user.company }}
        </li>
      </ul>
    </div>

  </div>
</template>

<script>
import { firestore, auth } from '@/main'

export default {
  data () {
    return {
      users: []
    }
  },
  mounted () {
    firestore.collection('accounts').doc('fireflow').collection('users').get().then(query => {
      query.forEach(doc => {
        this.users.push(doc.data())
      })
    })
  },
  methods: {
    async addUser (uid) {
      const saveRef = firestore.collection('accounts').doc('fireflow').collection('users').doc(auth.currentUser.uid)

      const ref = firestore.collection('users').doc(uid)
      const refData = await ref.get().then(doc => {
        return doc.data()
      })

      saveRef.set({
        ref: ref,
        ...refData
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import './style.scss';
</style>
