<template>
  <v-container>

    <v-layout row justify-center class="mt-5 mb-1">
      <ff-logo width="350" type="fire"></ff-logo>
    </v-layout>

    <v-layout row v-if="error">
      <v-flex xs12 sm6 offset-sm3>
        <ff-alert @dismissed="onDismissed" :text="error.message"></ff-alert>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card v-if="!beta">
          <v-card-text>
            <v-container>
              <form @submit.prevent="onSignup">
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                      name="email"
                      label="Email"
                      id="email"
                      v-model="email"
                      type="email"
                      required></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                      name="password"
                      label="Password"
                      id="password"
                      v-model="password"
                      type="password"
                      required></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                      name="confirmPassword"
                      label="Confirm Password"
                      id="confirmPassword"
                      v-model="confirmPassword"
                      type="password"
                      :rules="[comparePasswords]"></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-btn :dark="!loading" style="background: #D25A2F" type="submit" :disabled="loading || this.password !== this.confirmPassword" :loading="loading">
                    <span v-if="!loading">Sign Up</span>
                    <v-progress-circular v-if="loading" :width="2" indeterminate></v-progress-circular>
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn flat to="/auth/signin/">Or Sign In</v-btn>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
        <v-card v-if="beta">
          <v-card-title class="justify-center">
            Registration is currently disabled due to Beta stage.
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      beta: true,
      email: '',
      password: '',
      confirmPassword: ''
    }
  },
  computed: {
    loading () {
      return this.$store.auth.loading
    },
    comparePasswords () {
      return this.password !== this.confirmPassword ? 'Passwords do not match' : ''
    },
    user () {
      return this.$store.auth.user
    },
    error () {
      return this.$store.auth.error
    }
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/profile')
      }
    }
  },
  methods: {
    onSignup () {
      this.$store.auth.signUserUp({ email: this.email, password: this.password })
    },
    onDismissed () {
      this.$store.auth.clearError()
    }
  }
}
</script>
