<template>
  <div class="ff-home-wrapper">

    <div class="ff-heading">
      <div class="ff-heading-text">
        Налаждайся возможностью постоянного роста с FIREFLOW
      </div>
      <div class="ff-heading-img">
        Item 2
      </div>
    </div>

    <div class="ff-h1">Главные новости</div>

    <div class="ff-features">
      <div>Картинка</div>
      <div>Картинка</div>
      <div>Картинка</div>
    </div>

    <div class="ff-call">
      <div class="ff-call-image"></div>
      <div class="ff-call-text">
        <h3>Текущий челлендж</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias pariatur officiis possimus consectetur voluptates mollitia ipsum consequuntur architecto deleniti soluta eligendi, molestiae recusandae deserunt voluptatem cupiditate voluptas dolorum? Aut, porro?
        </p>
      </div>
    </div>

    <div class="ff-leaderboard">
      Challenge Results comming soon!
    </div>

    <div class="ff-call-right">
      <div class="ff-call-btn">
        <v-btn>Начать Симуляцию</v-btn>
      </div>
      <div class="ff-call-text">
        <h4>Начни прямо сейчас</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>

    <div class="ff-col-2">
      <div class="ff-comments">Comments</div>
      <div class="ff-registration">Registration</div>
    </div>

    <div class="ff-col-4 ff-footer">
      <div>Comments</div>
      <div>Registration</div>
      <div>Comments</div>
      <div>
        <ff-logo dark></ff-logo>
      </div>
    </div>

  </div>
</template>

<style lang="scss" scoped>
@import './style.scss';
</style>
