:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --offset: 200px;
}

.ff-home-wrapper {
  margin-top: -64px;
}

.ff-heading {
  display: grid;
  grid-template-columns: 500px 1fr;
}

.ff-heading-text {
  padding-top: 128px;
}

.ff-heading-img {
  padding-top: 128px;

  background: #3d3638;
  color: white;

  height: 300px;
}

.ff-h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7rem;

  padding-top: 15px;
  margin-bottom: 20px;
}

.ff-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 20px;

  padding-left: var(--offset);
  padding-right: var(--offset);
}

.ff-features > div {
  background: lightgray;
  height: 180px;

  padding-top: 15px;
  margin-bottom: 40px;
}

.ff-call {
  background: lightgray;

  display: grid;
  grid-template-columns: 250px 1fr;

  padding-left: 200px;
  margin-right: 200px;
}

.ff-call-image {
  background: gray;
  margin-top: 40px;
  margin-bottom: -20px;
}

.ff-call-text {
  text-align: left;
  margin: 40px;
}

.ff-call-btn {
  margin-top: 40px;
}

.ff-call-right {
  background: darkgray;

  display: grid;
  grid-template-columns: 250px 1fr;

  padding-right: 200px;
  margin-left: 200px;
}

.ff-leaderboard {
  background: lightgray;

  margin-top: 40px;
  margin-bottom: 20px;

  margin-left: var(--offset);
  margin-right: var(--offset);
}

.ff-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: var(--offset);
  padding-right: var(--offset);
}

.ff-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding-left: var(--offset);
  padding-right: var(--offset);
}

.ff-footer {
  margin-top: 40px;
  padding-bottom: 40px;
}

.ff-comments {
  height: 150px;

  background: gray;
}

.ff-registration {
  height: 150px;

  background: lightgray;
}