<template>
  <div class="ff-test">

    <v-toolbar flat>
      <span>FireFlow</span>
      <v-spacer></v-spacer>
      <span>1 команда</span>
      <span>24 участника</span>
    </v-toolbar>

  </div>
</template>

<script>
export default {
  data () {
    return {

      test: 'ate'

    }
  },
  created () {

  }
}
</script>

<style lang="scss" scoped>
@import './style.scss';
</style>
