<template>
  <div class="wrapper">
    <div class="header">
      <ff-logo white></ff-logo>
    </div>
    <div class="content">
      <svg viewBox="0 0 500 500" ref="map" width="100%" height="600" id="map-svg">
        <rect x="0" y="0" width="5" height="5" />
        <rect x="480" y="0" width="5" height="5" />
        <rect x="0" y="480" width="5" height="5" />
        <rect x="480" y="480" width="5" height="5" />
        <rect x="240" y="240" width="5" height="5" />

        <g class="map-wrapper">
          <template v-for="({ path, event }, key) in map.objects">
            <path :key="`mop-${key}`" :d="path" :id="key"/>
          </template>
        </g>
      </svg>
      <p> {{ x }} : {{ y }} | {{ map.isDragging }} </p>

      <v-dialog v-model="map.objects.luxary.dialog">
        <v-card>
          <v-card-title>
            Luxary
          </v-card-title>
          <v-card-text>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem nobis ab, sunt quasi expedita animi, corporis dolore eaque minima repudiandae temporibus necessitatibus ipsam iusto earum non tenetur libero quos distinctio!
          </v-card-text>
          <v-card-actions>
            <v-btn @click="map.objects.luxary.dialog=false">Close</v-btn>
            <v-spacer></v-spacer>
            <v-btn>Buy</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="map.objects.market.dialog">
        <v-card>
          <v-card-title>
            Market
          </v-card-title>
          <v-card-text>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quis voluptas officia iure pariatur magnam atque veniam nihil facere quibusdam obcaecati harum, eos optio accusamus omnis, cupiditate odio, totam illo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda possimus provident facere sapiente saepe, dolor enim, sequi eveniet necessitatibus molestias, exercitationem labore neque repudiandae odit id nisi hic quaerat pariatur.
          </v-card-text>
        </v-card>
      </v-dialog>

      <v-dialog v-model="map.objects.blacksmith.dialog">
        <v-card>
          <v-card-title>
            Blacksmith
          </v-card-title>
          <v-card-text>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur eveniet expedita eaque perferendis ad et, alias dolorum? In quaerat doloribus veritatis libero velit ipsam harum soluta est magnam, repudiandae dolore.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem nobis ab, sunt quasi expedita animi, corporis dolore eaque minima repudiandae temporibus necessitatibus ipsam iusto earum non tenetur libero quos distinctio!
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import map from './map.js'
export default {
  data () {
    return {
      map
    }
  },
  mounted () {
    this.map.init(this.$refs.map)
  },
  computed: {
    x () {
      return this.map.x || 0
    },
    y () {
      return this.map.y || 0
    },
    dragging () {
      return this.map.isDragging || false
    },
    lux () {
      return this.map.objects.luxary.dialog
    }
  },
  watch: {
    lux () {
      console.log(this.lux)
    }
  }
}
</script>

<style scoped>
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.wrapper {
  background: var(--light);
  color: var(--dark);
}

.header {
  grid-area: header;
  padding: 50px 15vw;

  height: 250px;

  background: #ff893a;
}

.map-wrapper {
  fill: #03b000;
}

.map-wrapper > path {
  transition: 0.1s linear;
}
.map-wrapper > path:hover {
  fill: #03c600;
  transition: 0.1s linear;
}

</style>
