<template>
  <v-layout row wrap>
    <v-flex md4 v-for="(manager, index) in managers.state" :key="index">
      <v-card>
        <v-card-title>
          {{ manager.name }}
        </v-card-title>
        <v-card-text>
          Process - {{ manager.abilities.process }}<br>
          Projects - {{ manager.abilities.projects }}<br>
          Overtime - {{ manager.abilities.overtime }}
        </v-card-text>
        <v-card-text>
          Lines - {{ manager.skills.lines }}<br>
          Workteams - {{ manager.skills.workTeams }}<br>
          Warehouse - {{ manager.skills.warehouse }}<br>
          Materials - {{ manager.skills.materials }}
        </v-card-text>
        <v-card-text>
          Happiness - {{ manager.happiness}}<br>
          Shifts per period - {{ manager.shiftsPerPeriod }}<br>
          Hours per shift - {{ manager.hoursPerShift }}<br>
          Cost per shift - {{ manager.costPerShift}}<br>
          Cost per hour overtime - {{ manager.costPerHourOvertime}}
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  computed: {
    managers () {
      return this.$store.managers
    }
  }
}
</script>
