<template>
  <div>
    <v-card>
      <v-card-text>
        <ul>
          <li v-for="({ name, priority, state, items }, index) in orders.state" :key="`order${index}`">
            <p>{{ `${name}: ${state} (${priority})` }}</p>
            <div>
              <ul>
                <li v-for="{ id, quantity, name } in items" :key="`orderitem${id}`">
                  <p>{{ `${id}: ${name}: ${quantity}` }}</p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  computed: {
    orders () { return this.$store.orders }
  }
}
</script>

<style scoped>
ul {
  list-style-type: none;
}
</style>
