<template>
  <svg
    :viewBox="`0 0 ${ viewBoxWidth } 338`"
    class="ff-logo">
    <path
      :class="`ff-logo-${color}`"
      :d="path"
    />
  </svg>
</template>

<script>
export default {
  props: ['icon', 'white', 'dark'],
  data () {
    return {
      iconPath: 'M505 0c-1 1-51 96-165 108-104 11-119 58-159 117-31 45-83 99-181 112 0 0 110-52 154-179C197 32 291 46 365 46c73 0 123-29 140-46zm-46 107s-41 132-159 124c-79-6-95 15-106 26 0-1 32-81 93-96 62-16 111 7 172-54z',
      textPath: 'M551 262v-78h81c4 0 5-2 5-5v-10c0-4-1-5-5-5h-81v-36c0-13 6-19 21-19h70c4 0 5-2 5-6V93c0-4-1-6-5-6h-71c-33 0-43 21-43 44v131c0 5 1 5 5 5h13c4 0 5 0 5-5zM673 92v171c0 4 2 4 5 4h14c4 0 5 0 5-4V92c0-4-1-4-5-4h-14c-3 0-5 0-5 4zM735 100v163c0 4 2 4 5 4h14c4 0 5 0 5-4v-73h37c17 0 29 5 35 25l14 49c0 3 3 3 4 3h17c4 0 4-2 3-4l-15-54c-3-13-8-22-22-26v-1c18-7 29-24 29-44 0-30-21-51-54-51h-59c-10 0-13 4-13 13zm103 39c0 17-11 30-36 30h-43v-60h45c26 0 34 16 34 30zM1012 262v-11c0-4-1-5-5-5h-71c-15 0-21-8-21-19v-45h82c4 0 5-2 5-5v-10c0-4-1-5-5-5h-82v-34c0-13 6-19 21-19h69c4 0 5-2 5-6V93c0-4-1-6-5-6h-70c-31 0-43 21-43 44v92c0 24 10 44 43 44h72c4 0 5-1 5-5zM1060 262v-78h81c4 0 5-2 5-5v-10c0-4-1-5-5-5h-81v-36c0-13 6-19 20-19h71c4 0 5-2 5-6V93c0-4-1-6-5-6h-71c-33 0-43 21-43 44v131c0 5 1 5 5 5h13c4 0 5 0 5-5zM1299 263v-13c0-3-1-4-4-4h-71c-14 0-22-7-22-21V92c0-4-1-5-4-5h-14c-3 0-5 1-5 5v131c0 24 10 44 43 44h73c3 0 4-1 4-4zM1459 177c0-58-26-92-76-92-44 0-76 33-76 93 0 59 25 92 75 92 52 0 77-33 77-93zm-24 1c0 37-12 71-52 71s-53-30-53-72c0-39 17-71 54-71 42 0 51 34 51 72zM1576 114h1l8 39 23 103c2 7 5 11 12 11h11c7 0 11-1 13-9l35-167c1-3 0-4-2-4h-17c-3 0-4 1-5 3l-20 106-8 43h-2l-9-42-21-98c-2-7-5-12-13-12h-10c-9 0-12 5-13 12l-22 99-9 41h-2l-7-41-21-108c0-2-1-3-4-3h-18c-2 0-3 1-2 4l35 167c2 8 6 9 13 9h11c7 0 10-4 11-11l24-102 8-40z'
    }
  },
  computed: {
    isIcon () {
      return typeof (this.icon) !== 'undefined'
    },
    color () {
      const isWhite = typeof (this.white) !== 'undefined'
      const isDark = typeof (this.dark) !== 'undefined'

      const color = isWhite ? 'white' : 'orange'
      return isDark ? 'dark' : color
    },
    path () {
      return this.isIcon ? this.iconPath : `${this.iconPath} ${this.textPath}`
    },
    viewBoxWidth () {
      return this.isIcon ? '505' : '1680'
    }
  }
}
</script>

<style scoped>
.ff-logo {
  max-width: 100%;
  height: 100%;

  /* animation: spin 2s infinite ease-in-out; */
}

/* @keyframes spin {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
} */

.ff-logo-orange {
  fill: #f05a28;
}

.ff-logo-white {
  fill:#ffffff;
}

.ff-logo-dark {
  fill: #3d3638;
}
</style>
