<template>
  <v-container fluid pt-0 grid-list-md>
    <ff-toolbar :views="views"></ff-toolbar>

    <v-layout row wrap>
      <v-flex xs12 sm6 md6>
        <ff-view-left :views="views"></ff-view-left>

        <v-fade-transition mode="out-in">
          <component :is="viewLeft"></component>
        </v-fade-transition>
      </v-flex>

      <v-flex xs12 sm6 md6>
        <ff-view-right :views="views"></ff-view-right>

        <v-fade-transition mode="out-in">
          <component :is="viewRight"></component>
        </v-fade-transition>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
import components from './api/index.js'
import createApi from './api.js'

const views = [
  'orders', 'products', 'warehouseMaterials', 'warehouseGoods', 'workTeams', 'managers'
]

export default {
  data () {
    return {
      views
    }
  },
  created () {
    createApi()
  },
  components,
  computed: {
    viewLeft () {
      let link = `ff-${views[0]}`

      if (this) {
        if (this.$route.query.viewLeft) {
          link = this.$route.query.viewLeft
        }
      }

      return link
    },
    viewRight () {
      let link = `ff-${views[1]}`

      if (this) {
        if (this.$route.query.viewRight) {
          link = this.$route.query.viewRight
        }
      }

      return link
    }
  }
}
</script>
