<template>
  <v-layout row wrap>
    <v-flex sm6 md6>
      <div :class="`ff-material-card ff-${$store.ff.theme}`">
        <span>Products {{ warehouseGoods.total }} / {{ warehouseGoods.capacity }}</span>
        <div class="ff-material-card-text">
          <v-list dense>
            <v-list-tile v-for="{ id, quantity, name } in warehouseGoods.stock" :key="`id${id}`">
              <v-list-tile-title>
                {{ name }} - {{ quantity }}
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </div>
      </div>
    </v-flex>

    <v-flex sm6 md6 v-for="({ name, price, materials }, index) in products.state" :key="`product${index}`">
        <div :class="`ff-material-card ff-${$store.ff.theme}`">
          <h3>{{ name }}</h3>
        <div class="ff-material-card-text">
          Price, unit - {{ price }}
          <v-list dense>
            <v-list-tile v-for="(material, index) in materials" :key="`material${index}`">
              <v-list-tile-title>
                {{ material.name }} - {{ material.rate }}
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </div>
      </div>
    </v-flex>

    <v-flex md4 v-for="(order, index) in orders.state" :key="`order${index}`">
      <v-card>
        <v-card-title>
          {{ order.name }} : Priority - {{ order.priority }} : State - {{ order.state }}
        </v-card-title>
        <v-card-text>
          <v-list dense>
            <v-list-tile v-for="{ id, quantity, name } in order.items" :key="id">
              <v-list-tile-title>
                {{ name }} - {{ quantity }}
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-card-text>
        <v-card-actions v-if="!order.state">
          <v-btn @click="order.finish()">Finish</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>

    <v-flex md4 v-for="(line, index) in lines.state" :key="`line${index}`">
      <div class="ff-lines-card">
        <div class="ff-lines-card-title">{{ line.name }}</div>

        <div class="ff-lines-card-text">
          {{ line.product.name }}<br>
          Product rate - {{ line.product.basicSpeed * line.modifiers.rate }}<br>
          Operational Costs - {{ line.costToOperate * line.modifiers.cost }}<br>
          Costs of materials - {{ line.costOfMaterials }}<br>
        </div>

        <div class="ff-lines-card-actions">
          <v-btn @click="line.upgrade()">Upgrade</v-btn>
          <v-spacer></v-spacer>
          <v-btn @click="line.produce()">Produce</v-btn>
        </div>

        <!-- <div class="ff-lines-card-side-actions">
          <ff-dialog-manager :managers="managers" :current="line.manager" @setCurrent="line.toggleManager($event)"></ff-dialog-manager>
          <ff-dialog-work-team :workTeams="workTeams" :current="line.workTeam" @setCurrent="line.toggleTeam($event)"></ff-dialog-work-team>
        </div> -->
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import FfDialogManager from '../lines/dialog/manager'
import FfDialogWorkTeam from '../lines/dialog/workTeam'

export default {
  components: {
    FfDialogManager,
    FfDialogWorkTeam
  },
  computed: {
    orders () { return this.$store.orders },
    warehouseGoods () { return this.$store.warehouseGoods },
    products () { return this.$store.products },
    workTeams () { return this.$store.workTeams },
    managers () { return this.$store.managers },
    lines () { return this.$store.lines }
  }
}
</script>

<style scoped>
@import url('../lines/lines.scss');
</style>
