<template>
  <div class="ff-test">

    <v-toolbar flat>
      <span>Team Management</span>
    </v-toolbar>

  </div>
</template>

<script>
export default {
  data () {
    return {}
  },
  created () {}
}
</script>

<style lang="scss" scoped>
@import './style.scss';
</style>
