<template>
  <div class="ff-admin-posts">
    <div class="ff-admin-posts-header">
      <h1>
        Posts
      </h1>

      <v-spacer></v-spacer>

      <v-btn to="/blog" icon dark class="dark">
        <v-icon>link</v-icon>
      </v-btn>

      <v-dialog v-model="dialog" width="500">
        <v-btn slot="activator" color="dark" dark icon>
          <v-icon>add</v-icon>
        </v-btn>

        <v-card>
          <v-card-title class="headline grey lighten-2" primary-title>
            Add New Post
          </v-card-title>

          <v-card-text>
            <v-form>
              <v-text-field v-model="post.id" label="ID" required hint="This is Unique ID of post" :error-messages="errors.id"></v-text-field>
              <v-text-field v-model="post.title" label="Title" required></v-text-field>
            </v-form>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" :disabled="loading" @click="addPost({
              id: post.id,
              title: post.title
            })"
            >
              Add
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>

    <div class="ff-admin-posts-preview">
      <div v-for="(post, index) in posts" :key="`post-${post.id}`" class="ff-admin-post-card elevation-2">

        <div class="ff-admin-post-card-header">
          <div class="ff-admin-post-card-header-item">
            <span>ID</span>
            <div><router-link :to="`posts/${post.id}`">{{ post.id }}</router-link></div>
          </div>

          <div class="ff-admin-post-card-header-item">
            <span>Title</span>
            <div>{{ post.title }}</div>
          </div>

          <div class="ff-admin-post-card-header-item">
            <span>State</span>
            <div>{{ post.state }}</div>
          </div>

          <v-spacer></v-spacer>

          <v-btn @click="deletePost(index, post.id)" color="dark" dark icon>
            <v-icon>delete_forever</v-icon>
          </v-btn>
        </div>

        <div class="ff-admin-post-card-content">
          {{ post.lead }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { firestore, auth } from '@/main'

const uid = auth.currentUser.uid
const blog = firestore.collection('blog')
const posts = blog.orderBy('created', 'desc')

export default {
  data () {
    return {
      loading: false,
      dialog: false,
      errors: {
        id: []
      },
      post: {
        id: null,
        title: null
      },
      posts: []
    }
  },

  mounted () {
    posts.get().then(docs => {
      docs.forEach((doc, index) => {
        this.posts.push({ id: doc.id, ...doc.data() })
      })
    })
  },

  methods: {
    // ADD POST
    async addPost ({ id, title }) {
      if (!id) return
      this.loading = true

      const postRef = blog.doc(id)

      this.errors.id = []
      const exists = await postRef.get().then(doc => {
        return doc.exists
      })

      if (exists) {
        this.errors.id.push('ID must be unique')
        this.loading = false
        return
      }

      const date = new Date()

      const post = {
        title,
        lead: '',
        created: date,
        updated: date,
        published: null,
        author: uid,
        state: 'draft',
        tags: [],
        content: []
      }
      postRef.set(post).then(() => {
        post.id = id
        this.posts.unshift(post)
      })

      this.post = {
        id: null,
        title: null
      }

      this.loading = false
      this.dialog = false
    },

    // SAVE POST
    savePost (post) {
      const postRef = blog.doc(post.id)

      postRef.update({
        ...post
      })
    },

    // DELETE POST
    deletePost (index, id) {
      if (!confirm('Sure you want to Delete this post?!')) return

      blog.doc(id).delete().then(() => {
        this.posts.splice(index, 1)
      })
    }
  }
}

</script>

<style scoped>
.ff-admin-posts {
  text-align: left;
  padding: 16px;
}

.ff-admin-posts-header {
  display: flex;
}

.ff-admin-post-card {
  max-width: 800px;
  margin: 10px auto;
  padding: 10px;

  animation: show 100ms ease-in;
}

.ff-admin-post-card-header {
  display: flex;
  margin: 0 -10px;
}

.ff-admin-post-card-header-item {
  margin: 3px 20px;
}

.ff-admin-post-card-header-item > span {
  display: block;
  color: darkgray;
}

.ff-admin-post-card-content {
  padding: 10px;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
