<template>
  <v-dialog v-model="dialog" max-width="500px">

    <v-btn slot="activator">{{ name }}</v-btn>

    <v-card>
      <v-card-title>
        <span>{{ name }}</span>
      </v-card-title>
      <v-card-text>
        <template v-for="(team, index) in workTeams">
          <v-btn :key="index" style="display: block;" @click.stop="$emit('setCurrent', team)">{{ team.name }}</v-btn>
        </template>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click.stop="dialog = false">Close</v-btn>
      </v-card-actions>
    </v-card>

  </v-dialog>
</template>

<script>
export default {
  name: 'ff-dialog-work-team',
  props: ['workTeams', 'current'],
  data () {
    return {
      dialog: false
    }
  },
  computed: {
    name () {
      return this.current ? this.current.name : 'Choose Work Team'
    }
  }
}
</script>
