<template>
  <div class="ff-blog-post-wrapper">
    <div class="ff-blog-post" v-if="post">
      <div class="ff-blog-post-title"><h2>{{ post.title }}</h2></div>
      <div class="ff-blog-post-subtitle">
        <span>{{ post.author }}</span>
        <span>{{ post.date }}</span>
        <span>{{ post.readTime }}</span>
      </div>
      <div class="ff-blog-post-desc">
        {{ post.lead }}
      </div>
      <div class="ff-blog-post-content" ref="content"></div>
    </div>
  </div>
</template>

<script>
import { firestore } from '@/main'
import Quill from 'quill'

const blog = firestore.collection('blog')

export default {
  data () {
    return {
      loading: true,
      content: null,
      post: null
    }
  },
  mounted () {
    const postRef = blog.doc(this.$route.params.id)

    postRef.get().then(post => {
      if (post.exists) {
        const data = post.data()
        delete data.content
        this.post = { id: post.id, ...data }
      } else {
        this.title = 'No such Blog Post!'
      }
      this.loading = false
      return post
    }).then(post => {
      this.content = new Quill(this.$refs.content, {
        modules: { toolbar: false },
        readOnly: true,
        theme: 'snow'
      })
      this.content.setContents(post.data().content)
    }).catch(function (error) {
      console.log('Error getting document:', error)
    })

    // postRef.onSnapshot(doc => {
    //   const data = doc.data()
    //   this.loading = false
    // })
  }
}
</script>

<style lang="scss" scoped>
@import url('./blog.post.css');

:root { --offset: 200px; }
@media (max-width: 1150px) { :root { --offset: 150px; } }
@media (max-width: 900px) { :root { --offset: 100px; } }
@media (max-width: 700px) { :root { --offset: 16px; } }

.ff-blog-post {
  background: lightgray;
  margin: 16px var(--offset);
  animation: show 100ms ease-in;

  text-align: left;
}

.ff-blog-post-title {
  margin-top: 20px;
}

.ff-blog-post-subtitle {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ff-blog-post-content {
  margin-top: 10px;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
