<template>
  <v-container>
    <v-layout row justify-center class="mt-5 mb-1">
      <ff-logo width="350" type="fire"></ff-logo>
    </v-layout>

    <v-layout row v-if="error">
      <v-flex xs12 sm6 offset-sm3>
        <ff-alert @dismissed="onDismissed" :text="error.message"></ff-alert>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <!-- <v-card-title>Enter Email and Password to access FireFlow</v-card-title> -->
          <v-card-text>
            <v-container>
              <form @submit.prevent="onSignin">
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                      name="email"
                      label="Email"
                      id="email"
                      v-model="email"
                      type="email"
                      required></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                      name="password"
                      label="Password"
                      id="password"
                      v-model="password"
                      type="password"
                      required></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-btn :dark="!loading" style="background: #D25A2F" type="submit" :disabled="loading" :loading="loading">
                    <span v-if="!loading">Sign In</span>
                    <v-progress-circular v-if="loading" :width="2" indeterminate></v-progress-circular>
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn flat to="/signup/">Or Register</v-btn>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },
  computed: {
    loading () {
      return this.$store.auth.loading
    },
    user () {
      return this.$store.auth.user
    },
    error () {
      return this.$store.auth.error
    }
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/profile')
      }
    }
  },
  methods: {
    onSignin () {
      this.$store.auth.signUserIn({ email: this.email, password: this.password })
    },
    onDismissed () {
      this.$store.auth.clearError()
    }
  }
}
</script>
