<template>
  <div>
    <v-card>
      <v-card-text>
        <ul>
          <li v-for="({ name, materials }, index) in products.state" :key="`order${index}`">
            <p>{{ `${name}` }}</p>
            <p>{{ `${ materials.map(i => i.name) }` }}</p>
          </li>
        </ul>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  computed: {
    products () { return this.$store.products }
  }
}
</script>

<style scoped>
ul {
  list-style-type: none;
}
</style>
