<template>
  <div class="ff-info">
    <div class="ff-info-icon">
      <svg width="36" height="36" viewBox="0 0 24 24" fill="#fafafa">
        <rect x="11" y="7" width="2" height="2"/>
        <rect x="11" y="11" width="2" height="6"/>
        <path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2 12,2z M12,20c-4.41,0-8-3.59-8-8 c0-4.41,3.59-8,8-8s8,3.59,8,8C20,16.41,16.41,20,12 20z"/>
      </svg>
    </div>
    <div class="ff-info-text">
      <slot></slot>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.ff-info {
  box-sizing: border-box;
  width: 100%;

  display: grid;
  grid-template-columns: 60px 1fr;

  &-icon {
    background: rgba(50, 50, 50, 0.55);
    height: 100%;
    padding: 10px;
  }

  &-text {
    width: 100%;
    min-height: 60px;
    background: rgba(50, 50, 50, 0.55);

    padding: 8px;
    text-align: left;

    color: #fafafa;
  }
}
</style>
