<template>
  <div class="ff-items">
    <div class="ff-items-title">
      items
    </div>
    <div class="ff-items-sub-title">
      some items
    </div>
    <div class="ff-items-list">
      <div class="ff-items-list-item" v-for="(item, index) in items" :key="index">
        <span class="ff-items-list-item-content">
          {{ item }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      items: [
        'item 1', 'item 2', 'item 3', 'item 4', 'item 5', 'item 6', 'item 7'
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.ff-items {
  box-sizing: border-box;
  width: 100%;

  display: block;

  color: #fafafa;
  text-align: left;

  &-title {
    margin-top: 8px;
    padding-left: 8px;
    padding-bottom: 2px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-sub-title {
    display: block;;
    width: 100%;
    height: 20px;
    line-height: 20px;

    padding-left: 8px;
    background: rgba(50, 50, 50, 0.55);

    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }

  &-list {
    padding: 4px;

    margin: 0 auto;

    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));

    &-item {
      &-content {
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        background: rgba(50, 50, 50, 0.55);
      }
    }
  }
}
</style>
