<template>
  <div class="ff-note">
    <div class="ff-note-title">
      Note
    </div>
    <div class="ff-note-text">
      <slot></slot>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.ff-note {
  box-sizing: border-box;
  width: 100%;

  display: block;

  &-title {
    margin-top: 8px;
    padding-left: 8px;
    padding-bottom: 2px;
    text-align: left;
    color: #fafafa;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-text {
    width: 100%;
    min-height: 60px;
    background: rgba(50, 50, 50, 0.55);

    padding: 8px;
    text-align: left;

    color: #fafafa;
  }
}
</style>
