<template>
  <div>
    <svg width="200px" height="20">
      <path class="bg" stroke="rgba(105, 105, 105, 0.7)" d="M0 10, 200 10"></path>
      <path class="meter" stroke="var(--color-brand)" d="M0 10, 200 10" :style="`stroke-dasharray: 200; stroke-dashoffset: ${ progress }`"></path>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'ff-progress',
  props: ['label', 'value', 'max'],
  computed: {
    progress () {
      const p = Math.round((this.value || 0) / (this.max || 100) * 200)
      return p > 200 ? 200 : p
    }
  }
}
</script>

<style scoped>
:root {
  --offset: '30';
  --color-brand: tomato;
}

.bg, .meter {
  fill: none;
  stroke-width: 20px;
  stroke-miterlimit: round;
}

.meter {
  transition: stroke-dashoffset 100ms ease-in-out;
}
</style>
