<template>
  <div class="ff-timer">
    <div class="ff-timer-title">
      <ff-progress label="Round" :value="time" :max="100"></ff-progress>
    </div>
  </div>
</template>

<script>
import FfProgress from './FfProgress.vue'
export default {
  components: {
    FfProgress
  },
  data () {
    return {
      time: 10
    }
  },
  mounted () {
    // setInterval(() => {
    //   this.time++
    // }, 100)
  }
}
</script>

<style lang="scss" scoped>
// .ff-timer {}
</style>
