<template>
  <v-layout row wrap fill-height class="wrapper">

    <div class="header">
      budget
      products
      materials
      FTE
      decisions
      <v-spacer></v-spacer>
      <ff-timer></ff-timer>
      <v-icon>settings</v-icon>
    </div>

    <div class="sidebar">

      <ff-info>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum nostrum totam, placeat accusamus asperiores sequi. Error, adipisci ab. Alias magnam quo natus ex quis distinctio ipsa maxime facilis! Magni, a.
      </ff-info>

      <ff-note>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </ff-note>

    </div>
    <div class="content">

      <ff-info>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis doloremque repellat pariatur ut, quae nobis, ex error corporis minima atque, harum dolorum dolore. Necessitatibus laudantium incidunt corporis blanditiis eligendi odit!
      </ff-info>

      <ff-items></ff-items>

    </div>
    <div class="aside">

      <ff-info>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, soluta? Ipsum, dolorum sequi.
      </ff-info>

    </div>
  </v-layout>
</template>

<script>
import FfInfo from './FfInfo.vue'
import FfItems from './FfItems.vue'
import FfNote from './FfNote.vue'
import FfTimer from './FfTimer.vue'

export default {
  components: {
    FfInfo,
    FfItems,
    FfNote,
    FfTimer
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  background:
    linear-gradient(
      rgba(110, 110, 110, 0.6),
      rgba(110, 110, 110, 0.6)
    ),
    url('./bg.jpg') center;
  background-size: 200%;

  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas: 'header header header'
                       'sidebar content aside';
  text-align: left;
}

.header {
  display: flex;
  grid-area: header;
}

// .sidebar {
//   grid-area: sidebar;
// }

// .content {
//   grid-area: content;
// }

// .aside {
//   grid-area: aside;
// }

svg {
  outline: 1px solid black;
  width: 500px;
  cursor: move;
  touch-action: none;
}
</style>
