<template>
  <div>
    <svg viewBox="0 0 625 401" width="50%">
      <path class="rect" fill="#f15a29" d="M0 0h625v400H0z"/>
    </svg>
    <svg viewBox="0 0 625 401" width="50%">
      <path class="rect2" fill="#0b0b0b" d="M0 0h625v400H0z"/>
    </svg>
  </div>
</template>

<script>
import { Sine, TimelineMax } from 'gsap/TweenMax'

export default {
  mounted () {
    const tl = new TimelineMax()
    tl.to('.rect', 1, { x: 100, ease: Sine.easeIn })
      .to('.rect2', 1, { x: 100, ease: Sine.easeIn })
  }
}
</script>
