<template>
  <v-container fill-height>
    <v-layout>
      <v-flex>
        <h1 class="display-2">{{ $route.meta.title }}</h1>
        <v-btn icon dark flat :class="{ primary: editing, dark: !editing}" @click="editing = !editing">
          <v-icon>edit</v-icon>
        </v-btn>
        <div v-if="profile">
          <h2>Email: {{ profile.email }}</h2>
          <v-text-field box v-model="profile.displayName" label="Name" :disabled="!editing"></v-text-field>
          <v-text-field box v-model="profile.role" label="Role" :disabled="!editing"></v-text-field>
          <v-text-field box v-model="profile.company" label="Company" :disabled="!editing"></v-text-field>
          <v-text-field box v-model="profile.university" label="University" :disabled="!editing"></v-text-field>
          <h2>Photo URL:
            <img :src="profile.photoURL" alt="no image" width=100>
          </h2>
          <!-- <h2>Verified: {{ profile.emailVerified }}</h2> -->
          <h2>Birthday: none</h2>
          <h2>Password: none</h2>
          <h2>University: none</h2>
          <h2>Faculty: none</h2>
          <h2>About me: none</h2>
          <v-btn @click="updateProfile()" class="primary">
            <span v-if="!saving">Save</span>
            <v-progress-circular v-else indeterminate color="white"></v-progress-circular>
          </v-btn>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { firestore } from '@/main'
export default {
  data () {
    return {
      saving: false,
      editing: false
    }
  },
  computed: {
    profile: {
      get () { return this.$store.auth.profile },
      set () { }
    }
  },
  methods: {
    async updateProfile () {
      this.saving = true

      await this.$store.auth.user.updateProfile({
        displayName: this.profile.displayName,
        photoURL: 'https://picsum.photos/510/300/?image=89'
      })

      await firestore.collection('users').doc(this.$store.auth.user.uid).update({
        email: this.profile.email,
        name: this.profile.displayName,
        role: this.profile.role,
        company: this.profile.company,
        university: this.profile.university
      })

      await firestore.collection(`accounts/${this.profile.company.toLowerCase()}/users`).doc(this.$store.auth.user.uid).update({
        email: this.profile.email,
        name: this.profile.displayName,
        role: this.profile.role,
        company: this.profile.company,
        university: this.profile.university
      })

      this.saving = false
    }
  }
}
</script>
