<template>
  <v-app :dark="dark">

    <ff-loader/>

    <v-slide-y-transition mode="out-in">
      <component
        v-if="$route.meta.layout"
        :is="layout">
        <v-slide-y-transition mode="out-in">
          <router-view :key="$route.fullPath"/>
        </v-slide-y-transition>
      </component>
    </v-slide-y-transition>
  </v-app>
</template>

<script>

import Auth from '@/mixins/auth'
import FF from '@/mixins/ff'
import Meta from '@/mixins/meta'

export default {
  mixins: [
    Auth,
    FF,
    Meta
  ],
  computed: {
    layout () {
      return `ff-${this.$route.meta.layout}-layout`
    },
    dark () {
      return this.$store.ff.dark
    }
  },
  created () {
    const keywords = document.createElement('meta')
    const description = document.createElement('meta')

    keywords.name = 'keywords'
    description.name = 'description'

    document.getElementsByTagName('head')[0].appendChild(keywords)
    document.getElementsByTagName('head')[0].appendChild(description)
  }
}
</script>

<style lang="scss">
@import url('./assets/scss/main.scss');
</style>
