<template>
  <v-container fill-height>
    <v-layout justify-center align-center>
      <v-flex shrink>
        <h1 class="display-2">{{ $route.meta.title }}</h1>
      </v-flex>
    </v-layout>
  </v-container>
</template>
