<template>
  <div style="height: 100%;">
    <ff-application-navigation/>
    <v-content style="height: 100%;">
      <v-container fluid pa-0 grid-list-md fill-height>
        <slot/>
      </v-container>
    </v-content>
  </div>
</template>

<script>
export default {
  name: 'ff-application-layout'
}
</script>
