<template>
  <div>
    <v-toolbar app flat dark absolute class="dark">
      <div class="ff-toolbar-title" @click="$router.push('/')">
        <ff-logo white></ff-logo>
      </div>
      <v-spacer></v-spacer>

      <v-btn style="ff-toolbar-btn" flat :dark="$route.meta.dark" v-for="(item, index) in items" :key="index" :to="item.to">
        {{ item.key ? $t(item.key) : item.text }}
      </v-btn>
      <v-btn flat :dark="$route.meta.dark" @click="$locale = $locale === 'en' ? 'ru' : 'en'">{{ $locale }}</v-btn>
      <ff-profile-menu></ff-profile-menu>
    </v-toolbar>

    <v-content>
      <v-container fluid pa-0 grid-list-md>
        <slot/>
      </v-container>
    </v-content>
  </div>
</template>

<script>
export default {
  name: 'ff-blog-layout',
  data: () => ({
    items: [
      { text: 'About', key: 'About', to: '/about' },
      { text: 'Blog', key: 'Blog', to: '/blog' }
    ]
  })
}
</script>

<style scoped>
.ff-toolbar-title {
  width: 240px;
  height: 64px;
  padding: 10px 0px;
  cursor: pointer;
}
</style>
