<template>
  <div style="height: 100%;">

    <v-navigation-drawer v-model="drawer" fixed clipped :mini-variant="mini" app class="dark">
      <v-list clipped dark class="dark">
        <template v-for="(item, i) in items">

          <v-layout v-if="item.heading" :key="i" row align-center>
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-right">
              <v-btn small flat>edit</v-btn>
            </v-flex>
          </v-layout>

          <v-divider v-else-if="item.divider" :key="i" dark class="my-2 secondary"></v-divider>
          <v-subheader v-else-if="item.subheader" :key="i" dark>{{ item.text }}</v-subheader>

          <v-list-tile v-else :key="i" :to="item.to" :exact="item.exact">
            <v-list-tile-action>
              <v-icon dark>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.key ? $t(item.key) : item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>

        <v-list-tile @click="mini = !mini" style="position: fixed; bottom: 0; width: 100%;">
          <v-list-tile-action>
            <v-icon v-if="!mini" dark>chevron_left</v-icon>
            <v-icon v-else dark>chevron_right</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="white--text">
              Hide
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

      </v-list>
    </v-navigation-drawer>

    <v-toolbar app clipped-left dark class="dark">
      <v-toolbar-side-icon @click.native="drawer = !drawer"></v-toolbar-side-icon>
      <div class="ff-toolbar-title" @click="$router.push('/')">
        <ff-logo white></ff-logo>
      </div>
      <v-spacer></v-spacer>
      <v-btn flat @click="$locale = $locale === 'en' ? 'ru' : 'en'">{{ $locale }}</v-btn>

      <ff-profile-menu></ff-profile-menu>
    </v-toolbar>

    <v-content style="height: 100%;">
      <v-container fluid pa-0 grid-list-md>
        <slot/>
      </v-container>
    </v-content>
  </div>
</template>

<script>
export default {
  name: 'ff-user-layout',
  data: () => ({
    drawer: null,
    mini: false,
    profile: false,
    items: []
  }),
  mounted () {
    this.items = [
      { subheader: true, text: 'User' },
      { icon: 'touch_app', text: 'Profile', to: '/profile', exact: true },
      { icon: 'touch_app', text: 'Dashboard', to: '/', exact: true },
      // { icon: 'touch_app', text: 'Rating', to: '/', exact: true },
      // { icon: 'touch_app', text: 'Activity', to: '/', exact: true },
      // { icon: 'touch_app', text: 'Simulations', to: '/', exact: true },
      // { icon: 'touch_app', text: 'Achievements', to: '/', exact: true },

      { divider: true },
      { subheader: true, text: 'FireFlow Account' },
      { icon: 'settings', text: 'Controls', to: '/lms/controls' },
      { icon: 'settings', text: 'Users', to: '/lms/users' },
      { icon: 'settings', text: 'Teams', to: '/lms/teams' },
      { icon: 'settings', text: 'Statistics', to: '/lms/statistics' },

      { divider: true },

      { subheader: true, text: 'FireFlow Admin' },
      { icon: 'settings', text: 'Posts', to: '/ffadmin/posts' }

      // { heading: 'Labels' },
      // { divider: true },
      // { icon: 'settings', text: 'Settings' }
    ]
  }
}
</script>

<style scoped>
.ff-toolbar-title {
  height: 100%;
  padding: 10px 0px;
  cursor: pointer;
}
</style>
