<template>
  <div :class="`ff-toolbar ff-${$store.ff.theme}`">

    <div class="ff-toolbar-item">
      <div class="ff-toolbar-item-title">
        Budget: {{ budget.current }}
      </div>

      <div class="ff-toolbar-item-content">
        <v-card>
          <v-card-actions>
            <v-btn flat small @click="budget.increase(1000)">+ 1000</v-btn>
            <v-btn flat small @click="budget.increase(2000)">+ 2000</v-btn>
          </v-card-actions>
        </v-card>
      </div>
    </div>

    <div class="ff-toolbar-item">
      <div class="ff-toolbar-item-title">
        Materials: {{ warehouseMaterials.total }}
      </div>

      <div class="ff-toolbar-item-content">
        <v-list>
          <v-list-tile v-for="({ name, total }, index) in warehouseMaterials.materials" :key="index">
            <v-list-tile-content>
              <v-list-tile-title>
                {{ name }}: {{ total }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </div>
    </div>

    <div class="ff-toolbar-item">
      <div class="ff-toolbar-item-title">
        Products: {{ warehouseGoods.total }}
      </div>
      <div class="ff-toolbar-item-content">
        <v-list>
          <v-list-tile v-for="{ id, quantity, name } in warehouseGoods.stock" :key="id">
            <v-list-tile-title>
              {{ name }}: {{ quantity }}
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </div>
    </div>

    <div class="ff-toolbar-item">
      <div class="ff-toolbar-item-title">
        FTE: {{ `4 / 10` }}
      </div>
    </div>

    <v-spacer></v-spacer>
    <v-btn @click="$store.ff.toggle()">Dark</v-btn>
    <span>{{ timer.hold }} ® Timer ({{ timer.state }}): {{ timer.time }}</span>
    <v-btn @click="() => {}" fab icon small>
      <v-icon>settings</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'ff-toolbar',
  props: ['views'],
  computed: {
    timer () { return this.$store.timer },
    budget () { return this.$store.budget },
    warehouseMaterials () { return this.$store.warehouseMaterials },
    warehouseGoods () { return this.$store.warehouseGoods }
  }
}
</script>

<style lang="scss">
.ff-toolbar {
  box-sizing: border-box;
  display: flex;
  flex-flow: auto;
  line-height: 48px;
  padding: 0px 0px;

  background: transparent;
}

.ff-toolbar-item {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  margin: 0px 2px;
}

.ff-toolbar-item-title {
  padding: 0px 10px;
}

.ff-toolbar-item-content {
  position: absolute;
  display: none;
  z-index: 1;

  box-sizing: border-box;
  width: auto;

  -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.3);
}

.ff-toolbar-item:hover {
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.3);
}

.ff-toolbar-item:hover .ff-toolbar-item-content {
  display: block;
}
</style>
