<template>
  <v-toolbar flat>
    <v-menu offset-y>
      <v-btn
        slot="activator"
        color="primary"
        dark
      >
        {{ viewLeft }}
      </v-btn>
      <v-list dense class="pt-0">
        <v-list-tile
          v-for="item in views"
          :key="item"
          @click="() => {
            $router.push({ query: { viewLeft: `ff-${item}`, viewRight: viewRight }})
            drawer = false
          }"
          ripple
        >
          <v-list-tile-content>
            <v-list-tile-title>{{ item }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>

<script>
export default {
  props: ['views'],
  computed: {
    viewLeft () {
      let link = `ff-${this.views[0]}`

      if (this) {
        if (this.$route.query.viewLeft) {
          link = this.$route.query.viewLeft
        }
      }

      return link
    },
    viewRight () {
      let link = `ff-${this.views[1]}`

      if (this) {
        if (this.$route.query.viewRight) {
          link = this.$route.query.viewRight
        }
      }

      return link
    }
  }
}
</script>
