.ff-lines-card {
  position: relative;
  background: #424242;
  padding: 15px;

  text-align: left;
  color: white;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
}

.ff-lines-card-title {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 30px;
}

.ff-lines-card-text {
  padding: 10px 0px;
}

.ff-lines-card-actions {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.ff-lines-card-side-actions {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;

  text-align: right;

  position: absolute;
  right: 5px;
  top: 6px;
  width: 200px;
}